WAP with the following specifications :
a function named create_dataset which will take a dictionary, filename, no. of rows as arguments
the dictionary is having the following structure: { "Col name" : [domain of values]}
the function will select random values for each of the domain and create a row 
the no. of rows that has to be created is the parameter
save the file with the required no. of rows
load this dataset using pandas and display basic info

In [1]:
import random

In [2]:
def create_header_dataset(dict,filename):
    header = ''
    try:
        with open (filename,'w') as file:
            for i in dict.keys():
                header += i + ','
            file.write(header[:len(header)-1]+'\n')
#         file.write('Items' + ',' + 'Stationary Items' +',' + 'Animals' + ',' + 'Places' + ',' + 'Names' + ',' + 'Religion' + '\n')
    except:
        print('No file found!!')

def create_dataset(dict,rows,filename):
    
    i = 1
    while i <= rows:
        a = random.choices(dict['Items'])[0]
        b = random.choices(dict['Stationary Items'])[0]
        c = random.choices(dict['Animals'])[0]
        d = random.choices(dict['Places'])[0]
        e = random.choices(dict['Names'])[0]
        f = random.choices(dict['Religion'])[0]
        result = a + ',' + b + ',' + c + ',' + d + ',' + e + ',' + f 
        try:
            with open (filename,'a') as file:
                file.write(result+'\n')
        except:
            print('No file found!!')
        i +=1

In [3]:
dict = { 'Items' : ['Chips','Chocolate','Frooty','Ice-Cream','Hard-drinks'],
        'Stationary Items' : ['Pen','Pencil','Register','Eraser','Sharpner','Markers','Ruler'],
        'Animals' : ['Dog','Cat','Parrots','Hamsters'],
        'Places' : ['Delhi','Meghalaya','Kolkata','Maharashtra','Gujarat'],
        'Names' : ['Swastik','Shubham','Tanisha','Selina','Manish','Kingsuk'],
        'Religion' : ['Hindu','Christian','Muslim','Sikh']
        }

In [4]:
create_header_dataset(dict,'temp.csv')

In [5]:
create_dataset(dict,2,'temp.csv')

In [6]:
create_dataset(dict,4,'temp.csv')

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("temp.csv")

In [9]:
data

       Items Stationary Items   Animals   Places    Names Religion
0  Chocolate              Pen  Hamsters  Kolkata   Manish    Hindu
1  Ice-Cream          Markers       Cat  Gujarat  Kingsuk   Muslim
2  Chocolate            Ruler  Hamsters  Gujarat   Selina     Sikh
3  Chocolate            Ruler  Hamsters    Delhi   Manish   Muslim
4      Chips           Eraser       Dog  Gujarat   Manish   Muslim
5      Chips         Register       Dog    Delhi  Swastik     Sikh

In [10]:
data.describe()

            Items Stationary Items   Animals   Places   Names Religion
count           6                6         6        6       6        6
unique          3                5         3        3       4        3
top     Chocolate            Ruler  Hamsters  Gujarat  Manish   Muslim
freq            3                2         3        3       3        3

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Items             6 non-null      object
 1   Stationary Items  6 non-null      object
 2   Animals           6 non-null      object
 3   Places            6 non-null      object
 4   Names             6 non-null      object
 5   Religion          6 non-null      object
dtypes: object(6)
memory usage: 420.0+ bytes

In [12]:
data.shape

(6, 6)

In [13]:
data.isnull()

   Items  Stationary Items  Animals  Places  Names  Religion
0  False             False    False   False  False     False
1  False             False    False   False  False     False
2  False             False    False   False  False     False
3  False             False    False   False  False     False
4  False             False    False   False  False     False
5  False             False    False   False  False     False